/* src/App.css */
.drum-machine {
  text-align: center;
}

.drum-pad-container {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.drum-pad {
  padding: 10px;
  margin: 5px;
  cursor: pointer;
  background-color: #4caf50;
  color: #fff;
  border: 1px solid #333;
  border-radius: 5px;
  user-select: none;
}

.drum-pad:hover {
  background-color: #45a049;
}

/* Add these styles to your existing CSS files */
.sound-selector button.selected {
  background-color: #45a049;
}

.step-sequencer {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.step {
  display: flex;
}

.step button {
  flex: 1;
  height: 30px;
  margin: 5px;
  cursor: pointer;
  background-color: #b8cbb8;
  border: 1px solid #333;
  border-radius: 5px;
  user-select: none;
}
.step button.selected {
  background-color: #45a049;
}